@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;1,400&family=Diphylleia&family=Italiana&display=swap');
@tailwind components;
@tailwind utilities;
@tailwind base;  

.textbg {
    background-image: url(./assets/text.png);  
    background-repeat: repeat-x; 
    background-position: center; 
    background-size: 50%;  
    gap: 10px; 
    top: 44%;
   
 
}

.TopSection{ 
  width: fit-content;
}
.cards{ 
  width: fit-content; 
  padding: 10px;  

} 
.Cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid columns */
  grid-gap: 20px; /* Add some space between grid items */
  justify-content: center; /* Horizontally center the grid */
}

@media screen and (max-width: 768px) {
  .Cards {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust column width for smaller screens */
  }
}


.defineGrid{ 
    grid-template-rows: 50%  repeat(2,25%);  
    padding: 20px;  
    
}   
.defineRightGrid{ 
    grid-template-rows: 25% 75%;
}  
.customFont2{ 
    font-family: "Barlow",sans-serif;  
    font-weight: 400;  
    font-style: italic;
}
/* .TopCard {
    background-image: url(./assets/Sample/topArtist.jpeg);
    background-position: center;
    background-size: cover;
    background-visibility: 56%;
  }
   */  

   .bg-img{ 
    opacity: 66%;
   }  


.customFont{ 
    font-family:"Italiana",sans-serif;   

}  


.trans{ 
    transition: all 500ms;
}  

.trans:hover{ 
    transform: scale(1.2);  
    font-size: medium; 
    cursor: pointer;  
    
}  

.middlecard{ 
    background-image: url(./assets/middlebg.png);
}
 


/* custonLoader */ 



.spinner {
  margin: auto;
  width: 50px;
  height: 30px;
}

.spinner > div {
  background: #195FD2;
  height: 100%;
  width: 2px;
  float: left;
  margin: 0 1px;
  animation: stretch 2s infinite;
  animation-timing-function: cubic-bezier(.62,.28,.23,.99);
}

.spinner .r1 {
  animation-delay: -1s;
}

.spinner .r2 {
  animation-delay: -.9s;
}

.spinner .r3 {
  animation-delay: -.8s;
}

.spinner .r4 {
  animation-delay: -.7s;
}

.spinner .r5 {
  animation-delay: -.6s;
}

@keyframes stretch {
  0%, 20%, 49% { 
    transform: scaleY(0.4);
    background-color: #195FD2;
  }
  
  10% { 
    transform: scaleY(1.0);
  }
  
  50%, 70%, 100% { 
    transform: scaleY(0.4);
    background-color: #649129;
  }
  
  60% { 
    transform: scaleY(1.0);
    background-color: #649129;
  }
}