@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;1,400&family=Diphylleia&family=Italiana&display=swap');
@tailwind components;
@tailwind utilities;
@tailwind base;  

:root {
  font-family: "Barlow",Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #060606;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  
body{ 
  all: unset;  
  background-color: #060606;
}
.test{ 

  width: 100%;   
  background-color: #060606;
  height: 100vh;
}